html { 
  margin: 0; padding: 0;
  background-size: contain;
}
        
button.start:after {
  content: "\25B6\A0 start";
}
button.stop:after {
  content: "\2590\A0\258C pause";
}

#content { 
  width: 400px; 
  margin: 50px auto; 
  padding: 20px; 
  background: white; 
  -moz-box-shadow: 0 0 20px black; 
  -webkit-box-shadow: 0 0 20px black; 
  box-shadow: 0 0 20px black; 

  font-family: sans-serif;
}

#player a { 
  color: #666;
  font-size: 80%;
}

.description { 
  font-style: italic;
}
.date {
  font-family: monospace, 'Courier';
}
.credit { }
.credit-required { font-weight: bold; }
.restrictions { font-weight: bold; color: #FAA; }

p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


